# Client Environment Variables
VITE_APP_URL=http://localhost:4000
VITE_API_URL=http://localhost:4001

# Server Environment Variables
DATABASE_URL=postgres://user:password@localhost:5432/dbname
BETTER_AUTH_SECRET=your_secret_here
BETTER_AUTH_URL=http://localhost:4001
NODE_ENV=development
PORT=4001